/* 
calvin S
┌─┐┌─┐┬  ┌─┐┌┬┐┌─┐             
├─┘├─┤│  ├┤  │ ├─┤             
┴  ┴ ┴┴─┘└─┘ ┴ ┴ ┴             
┌┬┐┌─┐  ┌─┐┌─┐┬  ┌─┐┬─┐┌─┐┌─┐  
 ││├┤   │  │ ││  │ │├┬┘├┤ └─┐  
─┴┘└─┘  └─┘└─┘┴─┘└─┘┴└─└─┘└─┘    */
:root {
	--fuenteHeading: 'Open Sans', sans-serif;
	--fuenteParrafo: 'PT Sans', sans-serif;
    
	--blanco: #ffff;
	--azul: rgb(46, 84, 250);
}

body {
  background: linear-gradient(90deg, #ffabab, #fff8f2);
  background-size: 400% 400%;
}

/* 
╦ ╦┌┬┐┬┬  ┬┌┬┐┌─┐┌┬┐┌─┐┌─┐
║ ║ │ ││  │ ││├─┤ ││├┤ └─┐
╚═╝ ┴ ┴┴─┘┴─┴┘┴ ┴─┴┘└─┘└─┘ */

.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.centrar-texto {
	text-align: center;
}
/* 
┌─┐┬  ┌─┐┌┐ ┌─┐┬  ┌─┐┌─┐
│ ┬│  │ │├┴┐├─┤│  ├┤ └─┐
└─┘┴─┘└─┘└─┘┴ ┴┴─┘└─┘└─┘ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1 rem = 10px*/
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
h1, h2, h3, h4 {
	font-family: var(--fuenteHeading);
}
h1 {
	font-size: 3.8rem;
}	
h2 {
	font-size: 3.0rem;
}	
h3 {
	font-size: 2.1rem;
}	
h4 {
	font-size: 1.5rem;
	
}
p {
	font-family: var(--fuenteParrafo);
	font-size: 1rem;
	
}

img {
	max-width: 100%;
}

.header {
	background-image: url(../img/1879.jpg);
	height: 15rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	

}
@media (min-width: 768px) {
	.barra {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4rem;
	}
	 
}
.logo {
	display: block;
	align-items: center;
}

/* .header__texto {
	
	text-align: center;
	color: var(--blanco);
} */

.navegacion {
	display: block;
	text-align: right;
	

}
@media (min-width: 768px) {
	
	.navegacion {
		display: flex;
		justify-content: flex-end;
		
	}
	
}

a {
	font-family: var(--fuenteHeading);
	color: var(--azul);
	list-style-type: none;
	text-decoration: none;
	padding: 1rem;
	font-size: 1.2rem;

}

.footer {
	background-color: var(--blanco);
	height: 15rem;
	display: flex;
}
.made {
	display: flex;
	justify-content: flex-end;
	
}
/* 
┬┌┐┌┌┬┐┌─┐─┐ ┬
││││ ││├┤ ┌┴┬┘
┴┘└┘─┴┘└─┘┴ └─ */

/* 
┌┐┌┌─┐┌─┐┌─┐┌┬┐┬─┐┌─┐┌─┐
││││ │└─┐│ │ │ ├┬┘│ │└─┐
┘└┘└─┘└─┘└─┘ ┴ ┴└─└─┘└─┘ */

/* 
┌─┐┌─┐┌┬┐┌─┐┬  ┌─┐┌─┐┌─┐
│  ├─┤ │ ├─┤│  │ ││ ┬│ │
└─┘┴ ┴ ┴ ┴ ┴┴─┘└─┘└─┘└─┘ */

/* 
┌─┐┌─┐┌┐┌┌┬┐┌─┐┌─┐┌┬┐┌─┐
│  │ ││││ │ ├─┤│   │ │ │
└─┘└─┘┘└┘ ┴ ┴ ┴└─┘ ┴ └─┘ */
