/* 
calvin S
┌─┐┌─┐┬  ┌─┐┌┬┐┌─┐             
├─┘├─┤│  ├┤  │ ├─┤             
┴  ┴ ┴┴─┘└─┘ ┴ ┴ ┴             
┌┬┐┌─┐  ┌─┐┌─┐┬  ┌─┐┬─┐┌─┐┌─┐  
 ││├┤   │  │ ││  │ │├┬┘├┤ └─┐  
─┴┘└─┘  └─┘└─┘┴─┘└─┘┴└─└─┘└─┘    */
:root {
  --fuenteHeading: "Open Sans", sans-serif;
  --fuenteParrafo: "PT Sans", sans-serif;

  --blanco: #ffff;
  --fondo: rgb(0, 0, 0);
  --azul: rgb(2, 45, 235);
  --hover: rgb(253, 250, 80);
}

body {
  background: linear-gradient(90deg, #ffabab, #fff8f2);
  background-size: 400% 400%;
}

/* 
╦ ╦┌┬┐┬┬  ┬┌┬┐┌─┐┌┬┐┌─┐┌─┐
║ ║ │ ││  │ ││├─┤ ││├┤ └─┐
╚═╝ ┴ ┴┴─┘┴─┴┘┴ ┴─┴┘└─┘└─┘ */

a {
  text-decoration: none;
}
/* 
┌─┐┬  ┌─┐┌┐ ┌─┐┬  ┌─┐┌─┐
│ ┬│  │ │├┴┐├─┤│  ├┤ └─┐
└─┘┴─┘└─┘└─┘┴ ┴┴─┘└─┘└─┘ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-family: var(--fuenteParrafo);
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.header {
  background-image: url(../img/1879.jpg);
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
.barra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}

/* .nav {
  width: 400rem;
  height: 15rem;
} */
.navegacion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  align-content: flex-end;
}

@media (min-width: 280px) {
  .navegacion {
    width: 100%;
    height: 100%;
  }
}
.nav-enlaces {
  justify-content: flex-end;

  font-family: var(--fuenteHeading);
  color: var(--azul);
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.nav-enlaces:hover {
  background-color: var(--fondo);
  color: var(--hover);
  border-radius: 0.5rem;
}

.footer {
  height: 10rem;
  background-color: var(--blanco);
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.made {
  display: block;
  align-items: center;
}
@media (min-width: 468px) {
  .made {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
/* 
┬┌┐┌┌┬┐┌─┐─┐ ┬
││││ ││├┤ ┌┴┬┘
┴┘└┘─┴┘└─┘┴ └─ */

/* 
┌┐┌┌─┐┌─┐┌─┐┌┬┐┬─┐┌─┐┌─┐
││││ │└─┐│ │ │ ├┬┘│ │└─┐
┘└┘└─┘└─┘└─┘ ┴ ┴└─└─┘└─┘ */

/* 
┌─┐┌─┐┌┬┐┌─┐┬  ┌─┐┌─┐┌─┐
│  ├─┤ │ ├─┤│  │ ││ ┬│ │
└─┘┴ ┴ ┴ ┴ ┴┴─┘└─┘└─┘└─┘ */

/* 
┌─┐┌─┐┌┐┌┌┬┐┌─┐┌─┐┌┬┐┌─┐
│  │ ││││ │ ├─┤│   │ │ │
└─┘└─┘┘└┘ ┴ ┴ ┴└─┘ ┴ └─┘ */
